section {
  width: 100%;

  display: flex;

  align-items: center;

  picture {
    max-width: 610px;
  }

  article {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 445px;
    margin-right: 220px;
    margin-left: 165px;

    svg {
      margin-bottom: 136.09px;
    }

    input {
      padding-top: 15px;
      padding-left: 32px;
      padding-bottom: 13px;
      mix-blend-mode: normal;
      opacity: 0.5;
      border: 1px solid var(--desaturated-red);
      border-radius: 28px;

      &::placeholder {
        font-family: 'Josefin Sans';

        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: var(--desaturated-red);
        mix-blend-mode: normal;
        opacity: 0.5;
      }
    }
    button {
      background: linear-gradient(135deg, #f8bfbf 0%, #ee8b8b 100%);
      box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
      border-radius: 28px;
      width: 100px;
      height: 56px;
      border: none;
      position: relative;
      svg {
        position: absolute;
        top: 20px;
        left: 42px;
      }
    }

    h2 {
      span {
        font-family: 'Josefin Sans';
        font-weight: 300;
        font-size: 64px;
        line-height: 64px;
        letter-spacing: 17.3206px;
        color: var(--desaturated-red);
      }
      font-family: 'Josefin Sans';

      font-weight: 600;
      font-size: 64px;
      line-height: 71px;
      letter-spacing: 17.3206px;
      color: var(--dark-grayish-red);
      margin-bottom: 32px;
    }

    p {
      font-family: 'Josefin Sans';
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: var(--desaturated-red);
      margin-bottom: 40px;
    }
  }
}
